<div id="<%= dom_id osi_booker %>">
  <p>
    <strong>Name:</strong>
    <%= osi_booker.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= osi_booker.code %>
  </p>

  <p>
    <strong>Syntax osi:</strong>
    <%= osi_booker.syntax_osi %>
  </p>

</div>
