<div id="<%= dom_id osi_ca %>">
  <p>
    <strong>Name:</strong>
    <%= osi_ca.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= osi_ca.code %>
  </p>

  <p>
    <strong>Syntax osi:</strong>
    <%= osi_ca.syntax_osi %>
  </p>

</div>
