<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Skypro 2023</span>
    </div>
  </div>
</footer>
<!-- Bootstrap core JavaScript-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/js/bootstrap-notify.min.js"></script>
<!-- <script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })

  $(document).ready(function() {
    $('[rel="tooltip"]').tooltip();
  })
</script> -->
<script type="text/javascript">
  setTimeout(function() {
    $('#flashMessage').fadeOut('fast');
  }, 5000);

  // setTimeout(function() {
  //   $('#errorsMessage').fadeOut('fast');
  // }, 15000);
  $(document).on('change', '#paging', function() {
    let searchUrl = window.location.search;
    searchUrl = searchUrl.substr(1);
    searchUrl = searchUrl.replace(/page=\d*\&?/g, '');
    const paging = 'paging='+ $(this).val();
    if (searchUrl.includes('paging=')) {
      searchUrl = searchUrl.replace(/paging=\w*/g, paging);
    } else if (searchUrl.length === 0) {
      searchUrl = paging;
    } else {
      searchUrl += `&${paging}`;
    }
    const href = window.location.origin + window.location.pathname + `?${searchUrl}`;
    window.location.href = href;
  });
</script>
